@model IEnumerable<GroupCoursework.Models.Actor>

@{
    ViewData["Title"] = "Index";
}
<style>
body{
background-image:url("../images/homepage1.png");
background-repeat:no-repeat;
background-size:cover;
}
th{
    color:white;
}
</style>
<body>


<h1 class="text-center" style="font-weight:800; color: #F1C381;">Index</h1>
<div class="container">
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card" style="background-color:#A96536;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorSurname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSurname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActorNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActorNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActorNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</body>
